

 .blog-content {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    /* width: 83vw */
  }

.blog-content a {
    color: #2563eb; 
    text-decoration: underline;
  }
  .blog-content a:hover {
    color: #1d4ed8; 
  }

  .blog-content ol{
    list-style-type: decimal;
  }

  .blog-content ul{
    list-style-type: disc;
  }
  