:root{
  --crossFooterText: rgb(204, 150, 245);
  
}


.mobile-swiper-container {
    display: none;
  }
  
  

  @media (max-width: 800px){
    .mobile-swiper-container {
      display: flex;
      align-items: center;
      position: relative;
      width: 90vw;
      /* max-width: 400px;  */
      /* Adjust based on your design */
      overflow: hidden;
      border: solid var(--crossFooterText) 1px;
      border-radius: 50px;
    }
    
    .mobile-buttons-wrapper {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      white-space: nowrap;
      gap: 10px;
      padding: 5px;
      scrollbar-width: none; 
      /* Hide scrollbar for Firefox */
    }
    
    .mobile-buttons-wrapper::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari */
    }
    
  
    
  
  }